// Bootstrap
@import '../node_modules/simple-keyboard/build/css/index.css';
@import "bootstrap";
// import { library, dom } from "@fortawesome/fontawesome-svg-core";
// @import "fontawesome";

// https://www.pullrequest.com/blog/webpack-fontawesome-guide/
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

body{
-webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


/* ****************************************
 * Page Connection
 */

 #page-loading {
     margin-top: 50px;
     text-align: center;
 }

/* ****************************************
 * Page Connection
 */

#page-connection {
    margin-top: 20px;
    // display: none;
    // display: block;

    .connect-btns {
        text-align: right;
        margin-top: 10px;
    }

    .back-btns {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        .col-12{
            text-align: right;
            margin-bottom: 20px;
        }
    }


}



/* ****************************************
 * Keyboards
 */


.modal-keyboard{
    $simple-color: rgb(68, 68, 68);
    
    display: none;
    z-index: 100;
    position: absolute; 
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.411);

    .hg-button-goto,
    .hg-button-set{
        background-color: #0d6efd;
        color: #fff;
    }

    .window{
        z-index: 101;
        position: absolute; 
        left: 10px;
        top: 70px;
        right: 10px;
        background-color: rgb(255, 255, 255);
        border: 6px solid rgb(0, 0, 0);
    }
    .label{
        color: $simple-color;
        font-size: 140%;
    }
    .dismiss {
        margin-top: 4px;
        margin-right: 4px;
        padding-top: 4px;
        font-size: 140%;
        color: $simple-color;
        :active{
            color: $simple-color;
        }
        :hover{
            color: #000;
        }
    }
    
}

#text-keyboard {
    // display: block;
}

#numpad-keyboard {
    .hg-theme-default.hg-layout-numeric .hg-button{
        height: 49px;
    }
    $side-position: 150px;
    .window{   
        top: 25px;
        left: $side-position;
        right: $side-position;
     }
}



/* ****************************************
 * Page-Main
 */


 #page-main {
    // display: none;
}


/* ****************************************
 * Navbar
 */

.navbar  {

    #runtime,
    #line {
        // color: #ff00ff;
        width: 80px;
        background-color: #4e4e4e;
        padding-left: 2px;
        padding-right: 2px;
        margin-left: 2px;
        margin-right: 2px;
        border: 1px solid rgb(24, 24, 24);
        text-align: center;
        padding-top: 0px;
        padding-bottom:0px;
        box-shadow: inset 1px 1px 3px #333;
    }

    #active-state{
        // margin-right: 50px;
        background-color: #fffec6;
        box-shadow: inset 1px 1px 3px #807f5e;
        color: #000;
        border-color: #000;
    }

    .dropdown {
        li {
            padding-top: 5px;
        }
    }

    .state-btn {
        width:100px;

    }

}

/* ****************************************
 * Cell-Value
 */

.cell-value {
    font-weight: bold;
    color: #585858;
    background-color: #e7e7e7;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: inset 1px 1px 3px #999;
}


/* ****************************************
 * Axis Panel
 */

.axis-panel {
    margin-top: 8px;
    // border-bottom: 2px solid rgb(61, 61, 61);

    td {
        // border: 1px solid #000;
    }

    .cmd-col{
        padding-left: 5px;
        width: 145px;
        button {
            margin-top: 5px;
            width: 90px;
        }
    }

    .axis-label-col{
        font-size: 140%;
        font-weight: bold;
        padding-right: 6px;
        text-align: right;
        width: 36px;
    }

    .axis-value-col{
        $box-width: 122px;
        .axis-value{
            width: $box-width;
            font-weight: bold;
            text-align: right;
            font-size: 135%;
            color: #404040;
            background-color: #e7e7e7;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 2px;
            box-shadow: inset 1px 1px 3px #999;

        }
        button {
            margin-top: 5px;
            padding-left: 6px;
            padding-right: 6px;
            width: ($box-width/2) - 4px;
        }        
    }

    

}

/* ****************************************
 * Tab Panel
 */

.tab-panel {

    position: absolute;
    z-index: 50;
    top: 150px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(151, 151, 151);

    .divider{
        background-color: #000;
        height: 2px;

    }

    .tabs{
        padding-top: 25px;
        button {
            margin-top: 5px;
            width: 90px;
            margin-left: 5px;
        }


        .units-btn {
            position: absolute;
            bottom: 5px;
        }

    }

    #btn-tab-errors{
        display: none;
    }

    .btn-danger-not-selected{
        $not-color: #661018;
        border-color: $not-color;
        background-color: $not-color;
        color: #fff;
    }

    .tab-content{
        position: absolute;
        background-color: #fff;
        top: 5px;
        bottom: 0px;
        left: 100px;
        right: 0px;
    }

}


/* ****************************************
 * Tab Errros
 */

 #tab-errors {

    visibility: hidden;
    overflow-y: auto;
    padding-top: 10px;

    #btn-errors-dismiss{
        float: right;
    }
 }

/* ****************************************
 * Tab Jog
 */

#tab-jog {

    visibility: hidden;
    $panel-split: 515px;

    .xy-panel{
        position: absolute;
        left: 0px;
        width: $panel-split;
        top: 0px;
        bottom: 0px;
        // background-color: #fffec6;
    }

    .z-panel{
        position: absolute;
        right: 0px;
        width: 700 - $panel-split;
        top: 0px;
        bottom: 0px;

        background-color:rgb(223, 221, 221);
        padding-left: 3px;
        padding-right: 3px;
    }
    
    $big-button-width: 125px;

    .jog-xy-pendant,
    .jog-z-pendant{
        margin-top: 10px;
        td {
            // border: 1px solid #333;
            width: $big-button-width;
            padding: 5px;
            button {
                // height: 85px;
                width: 100%;
            }
        }
    }

    .jog-z-pendant{
        margin-left: auto;
        margin-right: auto;
    }

    .jog-xy-speed{
        margin-top: 20px;
        button {
            width: 100%;
        }
        td {
            width: 92px;
            // padding-left: 10px;
            padding-right: 10px;
            padding-top: 8px;
        }
        td.col-value{
            width: $big-button-width;
            padding-top: 8px;
            padding-left: 0;
        }
    }


    .jog-z-speed{
        margin-top: 20px;
        button {
            width: 100%;
        }
        td {
            width: 92px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 8px;
        }
    }

}


/* ****************************************
 * Tab GCode
 */
#tab-gcode {
    visibility: hidden;
    padding-top: 5px;


    $gcode-height: 255px;

    textarea{
        margin-top: 0px;
        width: 100%;
        height: $gcode-height;

        overflow-y: scroll;
        resize: none;

    }

    #small-toolpath {
        border: 1px solid rgb(118, 118, 118);
        margin: 0;
        width: 100%;
        height: $gcode-height;
    }


}


/* ****************************************
 * Tab MDI
 */

#tab-mdi {
    visibility: visible;
    padding-top: 10px;

    textarea{
        margin-top: 0px;
        width: 100%;
        height: 308px;
        overflow-y: scroll;
        resize: none;        
    }

    .input-group {
        margin-bottom: 14px;
        button {
            width: 54px;
        }
    }

}

/* ****************************************
 * Hidden
 */

.hidden {
    display: none;
}
